header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    z-index: 1000;
}
.header__icon {
  width: 10%;
}
.header__iconImage {
    width: 100%;
}
.header__listLink {
  color: #000000;
}
.header__listLink:hover {
  opacity: 0.5;
}
@media screen and (max-width: 768px){
  .hamburger {
    position: relative;
    width: 30px;
    height: 25px;
  }
  .hamburger__line {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 1px;
    left: 0;
    transition: all .4s;
  }
  .hamburger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .hamburger__line:nth-child(3) {
    bottom: 0;
  }
  nav {
    position: fixed;
    width: 50%;
    height: 100vh;
    transform: translateX(200%);
    transition: all .3s linear;
    top: 0;
    left: 0;
    background-color: #47763c;
  }
  .header__lists {
    padding-top: 10vw;
  }
  .header__item {
    text-align: center;
    margin: 5vw 0;
  }
  .header__listLink {
    color: #ffffff;
  }
}
@media screen and (min-width: 769px){
  .hamburger {
    display: none;
  }
  .header__lists {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header__item {
    margin: 0 10px;
  }
  .header__listLink {
    font-size: clamp(1rem, 1.5vw, 2rem);
  }
}