.corporate__philosophy {
  text-align: center;
  padding: 7%;
}
.corporate__philosophy p {
  font-size: 2.5vw;
  font-weight: bold;
}
.corporate__greetings {
  text-align: center;
  padding: 0 5% 5%;
}
.corporate__greetings p {
  font-size: 2vw;
}