.faq__questionitem {
  margin: 2em 0;
  border: double 5px #6d9c67;
}
.faq__question {
  padding: 1vw;
  font-size: 1vw;
}
.faq__answer {
  padding: 1vw;
  font-size: 1vw;
}
.faq__deco {
  font-size: 2vw;
}
